# basics 
- variables
- operators
- datatypes
- input/output

In [21]:
x = 4
a , b = 20, 10
c = a + b

In [22]:
l = 5
b = 10
area = l * b

In [23]:
p = 400
r = 4
t = 2
si = p*r*t

In [24]:
page_size = 2

In [25]:
del x

# operators
- assignment
- arithmetic
- comparison
- logical 
- membership
- identity

In [26]:
# assignment = += -= *= /= etc
x = 10
x += 5
x -= 6
x *= 3
x /= 2

In [27]:
# arithmetic + - * / % ** //
a = 10
b = 3

In [28]:
a+b

13

In [29]:
a-b

7

In [30]:
print(a // b) # integer division
print(a % b) # remainder(modulo)
print(a ** b) # exponentiation

3
1
1000

In [31]:
a//b

3

In [32]:
# comparison < > >= <= == !=
x = 20
y = 30

print(x > y) # gt
print(x < y) # lt
print(x >= 100) # gte
print(x <= 100) #lte
print(x == 100) # equality
print(x != 100) # not

False
True
False
True
False
True

In [33]:
# logical -> and or not
print(x > 10 and y >50)
print(x > 10 and y < 50)
print(x > 10 or y < 50)
print( x< 10 or y < 50)
print(not x > 5)
print(not x < 5)

False
True
True
True
False
True

In [34]:
# membership -> in, not in
x=[1,2,3,4,5,6,7]
 
print(5 in x)
print(10 in x)
print(3 not in x)
print(10 not in x)

True
False
False
True

In [35]:
# identity -> is, is not
a = [1,2,3,4]
b = a
c =[1,2,3,4]
print(a is b)
print(a is c)
print(a is c)

True
False
False

# datatypes
- int (integer)
- float (real number)
- bool ( boolean)
- str (string or text)
- nonetype (none)
- list
- tuple
- set
- dict( dictionary)

In [36]:
num = 5   # 
name = "savri anand"
pi = 3.1234
sleepy = True
data = None
a_list = [1,2,3,4,5]
a_tuple = [1,2,3,4,5]
a_set = {1,2,3,4,5}
a_dict = {'a' :10, 'b' :20}

In [37]:
print(type(name))

<class 'str'>

# displaying output and getting input

In [3]:
print()
print('hello')
print('example','print()','with','multiple','arguments')
print('example','print()','with','multiple','arguments', sep='_')
print('example','print()','with','multiple','arguments', sep='_')
print('c:', 'users','savri','desktop', sep='/')

hello
example print() with multiple arguments
example_print()_with_multiple_arguments
example_print()_with_multiple_arguments
c:/users/savri/desktop

In [6]:
fruits = ['apple', 'mango','cherry']
print(fruits)
print(*fruits,sep='\n') # hack to print the items in new lines

['apple', 'mango', 'cherry']
apple
mango
cherry

In [9]:
a,b, = 10, 20
c = a + b
# result => 10 + 20 = 30
print('result=>',a,'+', b, '=', c) # comma seprated
print(f'result => {a} + {b} = {c}') # f-string

result=> 10 + 20 = 30
result => 10 + 20 = 30

In [12]:
x = int(input())
name = input("who are you?")
print(f"so you are, { name}, i have been expecting you?")

so you are, 200, i have been expecting you?

In [16]:
p = int (input("enter the principal amount"))
r = float(input("enter the rate of interest:"))
t = int (input(" enter the time in year:"))
si = p*r*t/100
print("simple interest calculation")
print(f'principal => {p}')
print(f'rate of interest => {r}')
print(f'time(yrs) => {t}')
print("---"*10)
print(f'simple interest will be => {si}')

simple interest calculation
principal => 200
rate of interest => 100.0
time(yrs) => 200
------------------------------
simple interest will be => 40000.0

alignment and formatng

In [20]:
word ='journey'
print(word)
print(f"{word}")
print(f"{word:>100}") # right align
print(f"{word:^100}") # center align
num = 200
print(f"{num}")
print(f"{num:15}")
print(f"{num:<15}")
print(f"{num:^15}")
print(f"{num:15.2f}")
print(f"{num: 3f}")

journey
journey
                                                                                             journey
                                              journey
200
            200
200
      200
         200.00
 200.000000

In [27]:

print("simple interest calculation")
print("---"*10)
print(f'principal => {p:20}')
print(f'rate of interest {r:18}')
print(f'time(yrs) => {t:20}')
print("---"*10)
print(f'simple interest will be => {si:10}')

simple interest calculation
------------------------------
principal =>                  200
rate of interest              100.0
time(yrs) =>                  200
------------------------------
simple interest will be =>    40000.0

In [30]:
#volume of square
side= int(input("enter side"))
volume = side*side*side
print("volume of square")
print("---30")
print(f"side=> {side:18}")
print(f"volume => {volume:18}")

volume of square
---30
side=>                 80
volume =>             512000