Data Structure - list

1. Creating
2. Indexing and Slicing(same as string)
3. Method - 11 methods
4. List comprehension

In [4]:
x = [] # empty list
num_list = [1,2,3,4,50] # 
word_list = ["this","that","of","what"] # list of strings
bool_list = [True,True ,False] # list of boolean
mixed_list = [1,2,"three",False] # list of mixed
nested_list = [[1,2,3],[4,5,6]]

In [3]:
y = list(range(1,16,3))
print(y)
a =[1,2,3]
b =[1,3,2]
c =[3,2,1]
mat =[a,b,c] # list from variables
print(mat)

z =[1] * 10 # duplicated list
print(z)

[1, 4, 7, 10, 13]
[[1, 2, 3], [1, 3, 2], [3, 2, 1]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Rules for list:
1. indexed
2. ordered
3. mutable
4. hetrogenous data types
5. can have the duplicate value
6. represented with`[]`
7. `list()` can used to cast other datastructure to a list

In [5]:
names = ["Satwik", "Manas","Shiv","Naman","Arpit","Ritesh","Paras","Faheem","Esha","Sachin"]
print(len(names))

10

In [7]:
print(names[0])
print(names[-1])
print(names[5])
print(names[3])
print(names[1])

Satwik
Sachin
Ritesh
Naman
Manas

In [10]:
print(names[:5]) # first 5
print(names[-5]) # last 5
print(names[2:-2]) #all except first 2 and last 2

['Satwik', 'Manas', 'Shiv', 'Naman', 'Arpit']
Ritesh
['Shiv', 'Naman', 'Arpit', 'Ritesh', 'Paras', 'Faheem']

In [9]:
print(names[::-1]) # reverse
print(names[::2]) # even students
print(names[1::2]) # odd students

['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']
['Satwik', 'Shiv', 'Arpit', 'Paras', 'Esha']
['Manas', 'Naman', 'Ritesh', 'Faheem', 'Sachin']

In [12]:
for i in names:
    print(names[::-1],end="-")

['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-['Sachin', 'Esha', 'Faheem', 'Paras', 'Ritesh', 'Arpit', 'Naman', 'Shiv', 'Manas', 'Satwik']-

list method
- add
  - extend
  - insert
  - remove
   - remove
   - pop
   - clear
- utility
  - reverse
  - sort
  - count
  - index
  - copy

In [13]:
fruits = ["apple","banana","cherry","dragonfruit","elderberry","fig"]

In [15]:
fruits.append("guava")
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'guava', 'guava']

In [17]:
fruits.append("hazelnut")
fruits.append("iceapple")
fruits.append("jackfruits")
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'guava', 'guava', 'hazelnut', 'iceapple', 'hazelnut', 'iceapple', 'jackfruits']

In [18]:
fruits.extend([1,2,3])
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'guava', 'guava', 'hazelnut', 'iceapple', 'hazelnut', 'iceapple', 'jackfruits', 1, 2, 3]

In [19]:
fruits.append([1,2,3])
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'guava', 'guava', 'hazelnut', 'iceapple', 'hazelnut', 'iceapple', 'jackfruits', 1, 2, 3, [1, 2, 3]]

In [24]:
x = [11,12,14,15,18,20]
# replace value 14 by 13
x[2] = 13
print(x)

[11, 12, 13, 15, 18, 20]

In [21]:
x.insert(3,14)
print(x)

[11, 12, 13, 14, 15, 18, 20]

In [25]:
x.insert(5,15)
print(x)

[11, 12, 13, 15, 18, 15, 20]

In [27]:
x.insert(6,16)
print(x)

[11, 12, 13, 15, 18, 15, 16, 16, 20]

In [28]:
x.remove(20)
print(x)

[11, 12, 13, 15, 18, 15, 16, 16]

In [29]:
x = [1,1,2,2]
print(x)
x.remove(1) # first occurance remove
x.remove(1)
x.remove(2)
print(x)

[1, 1, 2, 2]
[2]

In [30]:
x =[1,2,3,4,5]
if 5 in x:
    x.remove(5)
if 6 in x:
    x.remove(6)
print(x)

[1, 2, 3, 4]

In [31]:
x =[11,12,13,14,15,16]
x.pop # last element
print(x)
x.pop(2)
print(x)

[11, 12, 13, 14, 15, 16]
[11, 12, 14, 15, 16]

In [33]:
item = x.pop()
print(x)
print(item)

[11, 12, 14]
15

In [35]:
x.clear()
print(x)

[]

In [36]:
fruits.reverse()
print(fruits)

[[1, 2, 3], 3, 2, 1, 'jackfruits', 'iceapple', 'hazelnut', 'iceapple', 'hazelnut', 'guava', 'guava', 'fig', 'elderberry', 'dragonfruit', 'cherry', 'banana', 'apple']

In [37]:
nums =[12,45,56,12,56,23,3,56]
nums.sort()
print("ascending=>",nums)
nums.sort(reverse=True)
print("decending=>",nums)

ascending=> [3, 12, 12, 23, 45, 56, 56, 56]
decending=> [56, 56, 56, 45, 23, 12, 12, 3]

In [38]:
x =[12,14,24,3,56,56,57,77,77,100]
print(x.count(1))
print(x.count(56))

0
2

In [40]:
print(fruits)
print("guava->",fruits.index("guava"))
print("banana ->", fruits.index("banana"))
print("apple ->", fruits.index("apple"))

[[1, 2, 3], 3, 2, 1, 'jackfruits', 'iceapple', 'hazelnut', 'iceapple', 'hazelnut', 'guava', 'guava', 'fig', 'elderberry', 'dragonfruit', 'cherry', 'banana', 'apple']
guava-> 9
banana -> 15
apple -> 16

In [1]:
x =[1,2,3]
y = x # store the reference of x in y
print(x)
print(y)
print(y is x)
z = x. copy()
print(x)
print(z)
print(z is x)

[1, 2, 3]
[1, 2, 3]
True
[1, 2, 3]
[1, 2, 3]
False

In [2]:
#comprehension
x=[1,2,3,4]
x2 =[]
for i in x:
    s=i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16]

In [4]:
# list comprehension
x2=[i+10 for i in x]
print(x2)

[11, 12, 13, 14]

In [5]:
# comprehension with condition (newlist)=[opertaion loop condition]
x =[1,3,6,7,10,20,2]
x2=[i**2 for i in x if i%2==0]
print(x2)

[36, 100, 400, 4]

In [6]:
x= list(range(50))
x2 =[i**2 for i in x if i%2==0]
print(x)
print(x2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [13]:
names = ["Satwik", "Manas","Shiv","Naman","Arpit","Ritesh","Paras","Faheem","Esha","Sachin"]
x=[]
for i in names:
    m=i[0]+i[-1]
    x.append(m)
print(x)

['Sk', 'Ms', 'Sv', 'Nn', 'At', 'Rh', 'Ps', 'Fm', 'Ea', 'Sn']

In [14]:
names = ["Satwik", "Manas","Shiv","Naman","Arpit","Ritesh","Paras","Faheem","Esha","Sachin"]
output =[(i[0]+i[-1]).lower() for i in names]
print(output)

['sk', 'ms', 'sv', 'nn', 'at', 'rh', 'ps', 'fm', 'ea', 'sn']