step 1 - setup up the database and its tables

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy import Column,Integer, String, Boolean

In [2]:
Base = declarative_base() # create a base class for table models

In [3]:
class Report(Base):
    __tablename__ = "reports"
    id = Column(Integer, primary_key = True)
    name = Column(String(25))
    eng = Column(Integer)
    sci = Column(Integer)
    math = Column(Integer)
    hin = Column(Integer)
    is_passed = Column(Boolean)

In [4]:
# create a datbase engine
# syntax
# create_engine("driver://databaseconnection")
engine = create_engine("sqlite:///school.db")
Base.metadata.create_all(engine)

step 2: creating a connection

In [5]:
def opendb():
    engine = create_engine("sqlite:///school.db")
    Session = sessionmaker(bind=engine)
    session = Session()
    return session

In [6]:
name = input("Enter name:")
eng = int(input("Enter english marks:"))
math = int(input("Enter math marks:"))
sci = int(input("Enter science marks:"))
hin = int(input("Enter hindi marks:"))
total = eng + math +sci + hin
perc = total / 400 * 100
is_passed = perc >= 40

db = opendb()
report = Report(name=name ,eng=eng, math=math, sci=sci,
    hin=hin, is_passed=is_passed)
db.add(report)
db.commit()
db.close()
print("Report added successfully")

Report added successfully

step 4 - retriving data

In [7]:
db = opendb()
reports = db.query(Report).all()
db.close()

for item in reports:
    print(item.id, item.name)
    print(f"{item.eng}, {item.math}, {item.sci},{item.hin}")
    print("Passed" if item.is_passed else "Failed")

1 ravi
56, 67, 98,87
Passed
2 raj
35, 67, 88,45
Passed
3 rita
66, 77, 56,65
Passed
4 Manisha
34, 23, 30,23
Failed
5 raj
34, 55, 63,23
Passed

step 5 - removing data

In [8]:
id = 2 
db = opendb()
report = db.query(Report).filter(Report.id == id).delete()
db.commit()
db.close()
print("Report deleted successfully")

Report deleted successfully

In [10]:
eng_marks = 60
db = opendb()
reports = db.query(Report).filter(Report.eng >= eng_marks).all()
db.close()
for item in reports:
    print(f"{item.id} {item.name} {item.is_passed}")

3 rita True

In [11]:
hin_marks = 70
db = opendb()
reports = db.query(Report).filter(Report.hin >= hin_marks).all()
db.close()
for item in reports:
    print(f"{item.id} {item.name} {item.is_passed}")

1 ravi True

In [12]:
id = 5
db = opendb()
report = db.query(Report).filter(Report.id == id).first()
db.close()
if report:
    print(report.name, report.is_passed)
else:
    print("details not found")

raj True

In [14]:
name = "i"
db = opendb()
report = db.query(Report).filter(Report.name.like(f"%{name}%")).all()
db.close()
for item in report:
    print(item.id, item.name)

1 ravi
3 rita
4 Manisha

step 7 - updating data

In [15]:
id = 5
db = opendb()
report = db.query(Report).filter(Report.id == id). first()
if report:
    report.eng = 60
    report.math = 60
    report.is_passed = True
    db.commit()
    print("Report updated successfully")

Report updated successfully